In [ ]:
n=["onion","carrot","chilly"]
print(n)

['onion', 'carrot', 'chilly']

In [ ]:
a=["apple","mango","grapes",1,2,3]
print(a)

['apple', 'mango', 'grapes', 1, 2, 3]

In [ ]:
print("a")

a

In [ ]:
print(len(a))

6

In [ ]:
print(a[0])

apple

In [ ]:
print(a[1])

mango

In [ ]:
print(a[-1])

3

In [ ]:
print(a[-2])

2

In [ ]:
n=["onion","carrot","chilly"]
a=["apple"",mango","grapes",1,2,3]
sum=n+a
print(sum)

['onion', 'carrot', 'chilly', 'apple,mango', 'grapes', 1, 2, 3]

In [ ]:
list3=["onion","carrot","chilly"]
list3[0]="tomato"
print(list3)

['tomato', 'carrot', 'chilly']

In [ ]:
list4=['apple', 'mango', 'grapes', 1, 2, 3]
list4[3]="1"
print(list4)

['apple', 'mango', 'grapes', '1', 2, 3]

In [ ]:
list3.append("cabage")
print(list3)

['tomato', 'carrot', 'chilly', 'cabage']

In [ ]:
list3.append("beetroot")
print(list3)

['tomato', 'carrot', 'chilly', 'cabage', 'beetroot']

In [ ]:
list3.insert(0,"radish")
print(list3)

['radish', 'radish', 'tomato', 'carrot', 'chilly', 'cabage', 'beetroot']

In [ ]:
list3.insert(3,"potato")
print(list3)

['radish', 'radish', 'tomato', 'potato', 'potato', 'carrot', 'chilly', 'cabage', 'beetroot']

In [ ]:
my_list=[1,2,3]
new_elements=["nuz","sinu",5,6]
my_list.extend(new_elements)
print(my_list)

[1, 2, 3, 'nuz', 'sinu', 5, 6]

In [ ]:
list4.clear()
print(list4)

[]

In [ ]:
del list3
print(list3)

NameError: name 'list3' is not defined

In [ ]:
tuple1=("tomato","onion","potato")
print(tuple1)

('tomato', 'onion', 'potato')

In [ ]:
tuple2=("grapes","pineapple","orange")
print(tuple2)

('grapes', 'pineapple', 'orange')

In [ ]:
print(type(tuple1))

<class 'tuple'>

In [ ]:
print(len(tuple1))

3

In [ ]:
tuple3=tuple2+tuple1
print(tuple3)

('grapes', 'pineapple', 'orange', 'tomato', 'onion', 'potato')

In [ ]:
tuple1.append("pineaple")
print(tuple1)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
set1={"1","2","3"}
print(set1)

{'1', '3', '2'}

In [ ]:
print(set1[0])

TypeError: 'set' object is not subscriptable

In [ ]:
print("tomato"in set1)

False

In [ ]:
print("3"in set1)

True

In [ ]:
set1.add("onion")
print(set1)

{'onion', '1', '3', '2'}

In [ ]:
set1.update(["grapes",4,5,6])
print(set1)

{'grapes', '1', 4, 5, '2', 6, '3', 'onion'}

In [ ]:
a=5
b=10
sum=a+b
print(sum)

15

In [ ]:
num1=int(input("enter first no.:"))
num2=int(input("enter second no.:"))
addition=(num1+num2)
print("addition is :",addition)

enter first no.:5
enter second no.:15
addition is : 20

In [ ]:
a=int(input("enter first no.:"))
b=int(input("enter second no.:"))
division=(a/b)
print("division is :",division)

enter first no.:20
enter second no.:2
division is : 10.0

In [ ]:
p=int(input("entrt first no.:"))
q=int(input("enter second no.:"))
r=p*q
print(r)

entrt first no.:6
enter second no.:8
48

In [ ]:
p=int(input("entrt first no.:"))
q=int(input("enter second no.:"))
r=p-q
print(r)

entrt first no.:500
enter second no.:300
200

In [ ]:
z=input("enter a name:")
print("Hi",z)

enter a name:Sinu
Hi Sinu

In [6]:
set3={"Rose","Fruits","Chocolate"}
print(set3)

{'Fruits', 'Chocolate', 'Rose'}

In [9]:
set3.remove("Fruits")
print(set3)

{'Chocolate'}

In [10]:
set3.discard("chocolate")
print(set3)

{'Chocolate'}

In [12]:
set3.discard("vegetable")
print(set3)

{'Chocolate'}

In [13]:
set3.remove("potato")
print(set3)

KeyError: 'potato'

In [14]:
Boys={1,2,3,4}
Girls={4,5,6,1}
student=Boys.union(Girls)
print(student)

{1, 2, 3, 4, 5, 6}

In [17]:
A={1,2,3,4,5,9}
B={3,4,5,6,8,7}
C=A-B
print(C)

{1, 2, 9}

In [19]:
A={1,2,3,4,5,9}
B={3,4,5,6,8,7}
C=B-A
print(C)
D=A.difference(B)
print(D)

{8, 6, 7}
{1, 2, 9}

In [22]:
A={1,2,3,4,5,9}
B={3,4,5,6,8,7}
C=A&B
print(C)
D=A.intersection(B)
print(D)

{3, 4, 5}
{3, 4, 5}

In [23]:
A.clear()
print(A)

set()

In [25]:
del B
print(B)

NameError: name 'B' is not defined

In [26]:
Trees={"Palm","Mango","coconut","Orange"}
print(Trees)

{'Palm', 'Mango', 'coconut', 'Orange'}

In [27]:

Trees.remove("Mango")
print(Trees)

{'Palm', 'coconut', 'Orange'}

In [28]:
Trees.discard("Palm")
print(Trees)

{'coconut', 'Orange'}

In [30]:
Veg1={"onion","potato","tomato","chilly","carrot"}
Veg2={"onion","potato","tomato","beetroot","pear","brinjal"}
Veg3=Veg1.union(Veg2)
print(Veg3)
Veg4=Veg1-Veg2
print(Veg4)

{'pear', 'carrot', 'onion', 'tomato', 'brinjal', 'chilly', 'beetroot', 'potato'}
{'carrot', 'chilly'}

In [31]:
dect1={"name":"john","email":"john@gmail.com","phone":12345}
print(dect1)

{'name': 'john', 'email': 'john@gmail.com', 'phone': 12345}

In [32]:
a=dect1["name"]
print(a)

john

In [33]:
a=dect1.get("email")
print(a)

john@gmail.com

In [34]:
dect1["name"]="sinu"
print(dect1)

{'name': 'sinu', 'email': 'john@gmail.com', 'phone': 12345}

In [35]:
dect1["age"]=30
print(dect1)

{'name': 'sinu', 'email': 'john@gmail.com', 'phone': 12345, 'age': 30}

In [36]:
dect2=dect1.copy()
print(dect2)

{'name': 'sinu', 'email': 'john@gmail.com', 'phone': 12345, 'age': 30}

In [37]:
dect1.pop("email")
print(dect1)

{'name': 'sinu', 'phone': 12345, 'age': 30}

In [38]:
del dect1["phone"]
print(dect1)

{'name': 'sinu', 'age': 30}

In [39]:
text="python language"
print(text)

python language

In [41]:
print(text[0])
print(text[-1])

p
e

In [43]:
print(text[1:5])
print(text[5:9])

ytho
n la

In [45]:
a="    Hai  "
print(a)
print(a.strip())

    Hai
Hai

In [49]:
a="PYTHON LANGUAGE"
print(a.lower())
a="python language"
print(a.upper())
a="PyThon LanGuAgE"
print(a.swapcase())

python language
PYTHON LANGUAGE
pYtHON lANgUaGe
PyThon LanGuAgE

In [51]:
text="kadmath"
print(text.replace("d","h"))

kahmath

In [53]:
a="Hello, world!"
b=a.endswith("world!")
print(b)
b=a.startswith("Hello")
print(b)

True
True